.features {
  display: flex;
  align-items: center;
  padding: 1rem 0;
  width: 100%;
}

.featureItem {
  display: flex;
  padding: 2rem;
  width: 100%;
  align-items: flex-start;
}

.featureContent {
  padding-left: 20px;
  position: relative;
}

.featureContent::before {
  content: '';
  position: absolute;
  left: -20px;
  top: 0;
  bottom: 0;
  width: 4px;
  background-color: var(--border-color);
}

.featureContent p {
  font-size: 1.1rem;
  line-height: 1.5;
}
