@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.features {
  display: flex;
  align-items: center;
  padding: 2rem 0;
  width: 100%;
  opacity: 0;
  animation: fadeIn 0.5s ease-in-out;
  animation-delay: 0.4s;
  animation-fill-mode: forwards;
}

.featureItem {
  display: flex;
  padding: 2rem;
  width: 100%;
  align-items: flex-start;
}

.featureContent {
  padding-left: 20px;
  position: relative;
}

.featureContent::before {
  content: '';
  position: absolute;
  left: -20px;
  top: 0;
  bottom: 0;
  width: 4px;
  background-color: var(--border-color);
}

.featureContent p {
  font-size: 1.1rem;
  line-height: 1.5;
}
