@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.heroBanner {
  padding: 2rem 0;
  text-align: center;
  position: relative;
  overflow: hidden;
  background-color: transparent;
  animation: fadeIn 0.5s ease-in-out;
}

/* Text color for a light theme */
[data-theme="light"] {
  --hero-text-color: #091E42;
}

/* Text color for a dark theme */
[data-theme="dark"] {
  --hero-text-color: #FFFFFF;
}

.heroBanner {
  color: var(--hero-text-color);
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  animation: fadeIn 0.3s ease-in-out;
  animation-delay: 2.5s;
  animation-fill-mode: forwards;
}

.platform {
  display: inline-block;
  width: 200px;
  text-align: left;
  white-space: nowrap;
}

/* Adaptive style for mobile devices */
@media screen and (max-width: 768px) {
  .heroBanner {
    text-align: left;
    padding: 1rem;
  }
}
