.support-page .card {
    background-color: var(--ifm-card-background-color);
    border: 1px solid var(--ifm-card-border-color);
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100px;
    width: 100%;
    margin-bottom: 20px;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

.support-page .card-container {
    display: flex;
    gap: 10px;
    text-decoration: none;
}

.support-page .card-container a:hover {
    text-decoration: none;
}

.support-page .card h3, .support-page .card h4 {
    color: black;
    text-align: center;
}

html[data-theme='dark'] .support-page .card h3, 
html[data-theme='dark'] .support-page .card h4, 
html[data-theme='dark'] .support-page .card p, 
html[data-theme='dark'] .support-page .card li {
    color: white;
}

html[data-theme='light'] .support-page .card h3, 
html[data-theme='light'] .support-page .card h4, 
html[data-theme='light'] .support-page .card p, 
html[data-theme='light'] .support-page .card li {
    color: black;
}

.support-page .card p, .support-page .card li {
    color: black;
}

.support-page .card a {
    color: inherit;
    text-decoration: none;
}

.support-page .card:hover {
    background-color: #f7f7f7;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
}

html[data-theme='dark'] .support-page .card:hover {
    background-color: #333;
    box-shadow: 0 4px 8px rgba(0,0,0,0.5);
}

/* Adaptive style for mobile devices */
@media (max-width: 1024px) {
    .support-page .card-container {
        flex-direction: column;
    }

    .support-page .card {
        margin-bottom: 10px;
        width: 100%; /* Full width for one card per line */
    }
}
