.plansContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.enterprisePlanCard {
  display: flex;
  flex-direction: row;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 20px;
  min-width: 900px;
  margin: 20px auto;
  align-items: flex-start;
}

.enterpriseHeaderContainer {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 15px 20px;
  margin-left: 20px;
}

.enterpriseDescription {
  flex: 2;
  padding: 0 20px;
  margin-top: 10px;
  text-align: left;
}

.enterpriseButtonContainer {
  display: flex;
  justify-content: flex-start;
}

.enterpriseContent {
  display: flex;
  flex-direction: row;
  width: 100%;
}

/* Background color for a light theme */
[data-theme="light"] {
  --background-color: #F6F8FA;
}

/* Background color for a dark theme */
[data-theme="dark"] {
  --background-color: #242526;
}

.planCard {
  background-color: var(--background-color);
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 20px;
  width: 300px;
  text-align: left;
  transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.planCard:hover {
  transform: scale(1.02);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.planTitle {
  font-size: 1.5rem;
  margin-bottom: 10px;
  text-align: center;
}

.planPrice {
  font-size: 1.2rem;
  margin-bottom: 20px;
  text-align: center;
}

.planDescription {
  list-style: none;
  padding: 0;
  flex-grow: 1;
}

.planDescription li {
  margin-bottom: 15px;
}

.planButtonContainer {
  display: flex;
  justify-content: center;
  margin-top: auto;
}

.planButton {
  background-color: transparent;
  color: #0366d6;
  padding: 8px 16px;
  text-decoration: none;
  text-align: center;
  border-radius: 8px;
  font-size: 14px;
  font-weight: bold;
  border: 1px solid #0366d6;
  transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
  width: 100%;
}

.planButton:hover {
  background-color: #0366d6;
  color: #ffffff;
  text-decoration: none;
}

/* Adaptive style for mobile devices */
@media (max-width: 768px) {
  .planCard,
  .enterprisePlanCard {
    width: 90%;
    min-width: 300px;
    max-width: 350px;
    text-align: left;
  }

  .enterpriseHeaderContainer {
    align-items: center;
  }

  .enterpriseButtonContainer {
    justify-content: center;
  }

  .enterpriseContent {
    flex-direction: column;
    align-items: center;
  }

  .enterpriseHeaderContainer {
    margin-left: 0px;
  }

  .enterpriseDescription {
    width: 100%;
    padding: 10px;
    margin-top: 0px;
  }
}
