.plansContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

/* Background color for a light theme */
[data-theme="light"] {
  --background-color: #F6F8FA;
}

/* Background color for a dark theme */
[data-theme="dark"] {
  --background-color: #333333;
}

.planCard {
  background-color: var(--background-color);
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 20px;
  width: 300px;
  text-align: left;
  transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.planCard:hover {
  transform: scale(1.05);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.planTitle {
  font-size: 1.5rem;
  margin-bottom: 10px;
  text-align: center;
}

.planPrice {
  font-size: 1.2rem;
  margin-bottom: 20px;
  text-align: center;
}

.planDescription {
  list-style: none;
  padding: 0;
  flex-grow: 1;
}

.planDescription li {
  margin-bottom: 15px;
}

.planButtonContainer {
  display: flex;
  justify-content: center;
  margin-top: auto;
}

.planButton {
  background-color: #0366d6;
  color: #ffffff;
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 4px;
  font-size: 14px;
  transition: background-color 0.2s ease-in-out;
}

.planButton:hover {
  background-color: #023e8a;
  color: #ffffff;
  text-decoration: none;
}

/* Adaptive style for mobile devices */
@media (max-width: 768px) {
  .planCard {
    width: 90%;
    max-width: 350px;
  }
}

@media (max-width: 480px) {
  .planCard {
    width: 90%;
    margin: 0 auto;
  }
}
