.costComparisonSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
  margin-top: 40px;
}

.textBlock {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 10px;
}

.chartAndTextContainer {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  gap: 2rem;
  max-width: 1200px;
  width: 70%;
}

.chartContainer {
  flex: 1;
  max-width: 700px;
  overflow-x: auto;
}

.textContainer {
  max-width: 400px;
  padding-left: 1rem;
  font-size: 1.1rem;
  line-height: 1.4;
  margin-top: 6rem;
}

.smallText {
  font-size: 12px;
}

.dropdown {
  margin-bottom: 1rem;
  text-align: left;
}

/* Adaptive style for mobile devices */
@media (max-width: 1280px) {
  .chartAndTextContainer {
    flex-direction: column;
    width: 70%;
    align-items: center;
  }

  .chartContainer {
    width: 100%;
    max-width: 100%;
    overflow-x: auto;
  }

  .textContainer {
    max-width: 100%;
    padding-left: 0;
    margin-top: 0rem;
    text-align: center;
  }

  .smallText {
    font-size: 10px;
  }
}

@media (max-width: 768px) {
  .chartAndTextContainer {
    width: 90%;
  }
}

@media (max-width: 480px) {
  .chartAndTextContainer {
    width: 100%;
  }
}
